
:root {
	--galc-purple: #34075b;
	--folio-orange: #a73a00;
	--logo-orange: #e8b398;
	--stack-LAKE-SP: #7070d5;
	--stack-EAST-SP: #98fd80;
	--stack-CENT-SP: #fd80be;
	--stack-WEST-SP: #fdf080;
	--stack-LG1-SP: #80a0fd;
	--stack-NEWS-SP: #3ca7c8;
	--stack-SPEC1-SP: #3cc8c8;
	--stack-SPEC2-SP: #3cc8b4;
	--stack-HUME-SP: #b880fd;
	--stack-MITCHELL-SP: #9f58f7;
	--stack-PICMSS-SP: #80a0fd;
	--stack-ASIAN-SP: #a080fd;
}

.action {
    padding: 0.25rem 0.75rem;
}

.logo {
    color: var(--logo-orange);
}

header nav {
    background-color: var(--bg-dark);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--folio-orange);
}

fieldset .row {
    margin-left: 0.5rem;
}

fieldset .row .form-label {
    margin-top: 1rem;
}

.nobreak {
    white-space: nowrap;
}

.status-not-yet-filled {
    background-color: var(--bs-light);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-orange);
}

.status-other {
    background-color: var(--bs-light);
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-gray);
}


.fs-small {
    font-size: small;
}

.fs-teeny {
    font-size: xx-small;
}

label.mandatory-pre:before {
    content:"*";
    color:red;
    padding-right: 0.2em;
}

label.mandatory:after {
    content:"*";
    color:red;
    padding-left: 0.2em;
}

tr.visiting {
    background: #e0f3f4;
}

#last-updated {
    position: fixed;
    font-size: 150%;
    color: var(--logo-orange);
    opacity: 80%;
    bottom: 1em;
    right: 2em;
    font-weight: bold;
}

.refresh {
    margin-right: 0.5em;
}

/* -- header - navlinks -- */

.nav-link.stack-LAKE-SP:focus,     .nav-link.stack-LAKE-SP:hover     { color: var(--stack-LAKE-SP); }
.nav-link.stack-EAST-SP:focus,     .nav-link.stack-EAST-SP:hover     { color: var(--stack-EAST-SP); }
.nav-link.stack-CENT-SP:focus,     .nav-link.stack-CENT-SP:hover     { color: var(--stack-CENT-SP); }
.nav-link.stack-WEST-SP:focus,     .nav-link.stack-WEST-SP:hover     { color: var(--stack-WEST-SP); }
.nav-link.stack-LG1-SP:focus,      .nav-link.stack-LG1-SP:hover      { color: var(--stack-LG1-SP); }
.nav-link.stack-NEWS-SP:focus,     .nav-link.stack-NEWS-SP:hover     { color: var(--stack-NEWS-SP); }
.nav-link.stack-SPEC1-SP:focus,    .nav-link.stack-SPEC1-SP:hover    { color: var(--stack-SPEC1-SP); }
.nav-link.stack-SPEC2-SP:focus,    .nav-link.stack-SPEC2-SP:hover    { color: var(--stack-SPEC2-SP); }
.nav-link.stack-MITCHELL-SP:focus, .nav-link.stack-MITCHELL-SP:hover { color: var(--stack-MITCHELL-SP); }
.nav-link.stack-HUME-SP:focus,     .nav-link.stack-HUME-SP:hover     { color: var(--stack-HUME-SP); }
.nav-link.stack-PICMSS-SP:focus,   .nav-link.stack-PICMSS-SP:hover   { color: var(--stack-PICMSS-SP); }
.nav-link.stack-ASIAN-SP:focus,    .nav-link.stack-ASIAN-SP:hover    { color: var(--stack-ASIAN-SP); }

/* -- stacks - shadows -- */
div.stack-LAKE-SP {
 box-shadow : 0 0 5px  2px var(--stack-LAKE-SP),
              0 0 30px 0px var(--stack-LAKE-SP) !important
}

div.stack-EAST-SP {
 box-shadow : 0 0 5px  2px var(--stack-EAST-SP),
              0 0 30px 0px var(--stack-EAST-SP) !important
}

div.stack-CENT-SP {
 box-shadow : 0 0 5px  2px var(--stack-CENT-SP),
              0 0 30px 0px var(--stack-CENT-SP) !important
}

div.stack-WEST-SP {
 box-shadow : 0 0 5px  2px var(--stack-WEST-SP),
              0 0 30px 0px var(--stack-WEST-SP) !important
}

div.stack-LG1-SP {
 box-shadow : 0 0 5px  2px var(--stack-LG1-SP),
              0 0 30px 0px var(--stack-LG1-SP) !important
}

div.stack-NEWS-SP {
 box-shadow : 0 0 5px  2px var(--stack-NEWS-SP),
              0 0 30px 0px var(--stack-NEWS-SP) !important
}

div.stack-SPEC1-SP {
 box-shadow : 0 0 5px  2px var(--stack-SPEC1-SP),
              0 0 30px 0px var(--stack-SPEC1-SP) !important
}

div.stack-SPEC2-SP {
 box-shadow : 0 0 5px  2px var(--stack-SPEC2-SP),
              0 0 30px 0px var(--stack-SPEC2-SP) !important
}

div.stack-MITCHELL-SP {
 box-shadow : 0 0 5px  2px var(--stack-MITCHELL-SP),
              0 0 30px 0px var(--stack-MITCHELL-SP) !important
}

div.stack-HUME-SP {
 box-shadow : 0 0 5px  2px var(--stack-HUME-SP),
              0 0 30px 0px var(--stack-HUME-SP) !important
}

div.stack-PICMSS-SP {
 box-shadow : 0 0 5px  2px var(--stack-PICMSS-SP),
              0 0 30px 0px var(--stack-PICMSS-SP) !important
}

div.stack-ASIAN-SP {
 box-shadow : 0 0 5px  2px var(--stack-ASIAN-SP),
              0 0 30px 0px var(--stack-ASIAN-SP) !important
}

/* -- index page - all queues -- */

tr.stack-LAKE-SP     { border-left: 10px solid var(--stack-LAKE-SP); }
tr.stack-EAST-SP     { border-left: 10px solid var(--stack-EAST-SP); }
tr.stack-CENT-SP     { border-left: 10px solid var(--stack-CENT-SP); }
tr.stack-WEST-SP     { border-left: 10px solid var(--stack-WEST-SP); }
tr.stack-LG1-SP      { border-left: 10px solid var(--stack-LG1-SP); }
tr.stack-NEWS-SP     { border-left: 10px solid var(--stack-NEWS-SP); }
tr.stack-SPEC1-SP    { border-left: 10px solid var(--stack-SPEC1-SP); }
tr.stack-SPEC2-SP    { border-left: 10px solid var(--stack-SPEC2-SP); }
tr.stack-MITCHELL-SP { border-left: 10px solid var(--stack-MITCHELL-SP); }
tr.stack-HUME-SP     { border-left: 10px solid var(--stack-HUME-SP); }
tr.stack-PICMSS-SP   { border-left: 10px solid var(--stack-PICMSS-SP); }
tr.stack-ASIAN-SP    { border-left: 10px solid var(--stack-ASIAN-SP); }
