<!doctype html>
<html lang="en">
<head th:replace="~{common/general :: htmlhead('Pickslips')}" />

<body class="bg-dark">
<header th:replace="~{common/general :: header(${stacks}, ${showOnly}, ${lastSuccess}, null)}" />

<main>

    <div class="p-3">
        <div class="container-fluid bg-light p-2 rounded">

            <header th:replace="~{common/general :: admintitle('All Requests')}" />

            <div class="bg-white m-2 p-4 border border-1 rounded">

                <div th:replace="~{common/general :: errorAndMessage}" />

                <table class="table table-sm table-hover table-responsive-xl">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Call Number</th>
                        <th scope="col">Status</th>
                        <th scope="col">Patron Group</th>
                        <th scope="col">Title</th>
                        <th scope="col">Name</th>
                        <th scope="col">Barcode</th>
                        <th scope="col">Print/Multi</th>
                    </tr>
                    </thead>
                    <tbody>

                        <th:block th:each="loc : ${stacks}">
                            <th:block th:with="queue = ${queues.getPickslipsForStack(loc.code)}">

                                <tr class="heading bg-light text-muted fw-semibold" th:classappend="|stack-${loc.code}|" >
                                    <td colspan="8" class="pt-3 px-2">
                                        [[${loc.label}]]
                                    </td>
                                </tr>

                                <tr th:each="s : ${queue}" th:classappend="${'stack-'+loc.code + ' ' +
                                                                             (s.visiting ? 'visiting ' : '') +
                                                                             (s.parked ? 'parked ' : '') +
                                                                             (s.request?.isRequestDateEvenThirty ? 'even30' : 'odd30')}">

                                    <td class="px-4 nobreak">[[${#temporals.format(s.request.requestDate, 'dd-MMM-yyyy HH:mm:ss')} ?: '-']]</td>

                                    <td>
                                        <a th:target="_blank"
                                           th:href="${@environment.getProperty('folio.request-view-prefix')}
                                               +${s.request.id}
                                               +${@environment.getProperty('folio.request-view-postfix')}">[[${s.item.callNumber}]]</a>
                                    </td>

                                    <td> <span class="nobreak fs-small px-2 py-1 fw-lighter rounded-4"
                                               th:classappend="|status-${s.request.isNotYetFilled() ? 'not-yet-filled' : 'other'}|">
                                        [[${s.request.status}]]
                                        [[${s.request.isRequestDateEvenThirty}]]
                                    </span></td>

                                    <td class="nobreak">[[${s.request.patronGroup}]]</td>
                                    <td>[[${s.item.title}]]</td>

                                    <td class="nobreak fw-lighter">[[(${s.request.requester.firstName} ?: '-') + ' ' +
                                                                     (${s.request.requester.lastName} ?: '-')]]</td>
                                    <td class="fw-lighter">[[${s.item.barcode}]]</td>
                                    <td class="nobreak">
                                        <a th:if="${s.request.isNotYetFilled()}"
                                           th:href="@{/export/{rid}(rid=${s.request.id})}"
                                           title="Print"
                                           class="action bi-printer"></a>
                                        <a th:if="${s.request.isNotYetFilled()}"
                                           th:href="@{/bulkprint/{stack}(stack=${loc.code}, upToId=${s.request.id})}"
                                           title="Print"
                                           class="action bi-arrow-bar-up"></a>
                                    </td>
                                </tr>

                            </th:block>
                        </th:block>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</main>


</body>
</html>