<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="file:///home/orange/src/nla/folio-pickslip-viewer/src/main/resources/pdf/css/pdf2.css"/>
</head>

<div class="pickslip">

    <div class="shelf-copy">

        <div class="lhs border">
            <div class="content">
                <div class="barcode">
                    <div>SOMETHING WIDE XXXXXXXXXXXXXXXXXXXXXX</div>
                    <p class="barcodetext align-center">center?</p>
                </div>
            </div>
            <p>more</p>
            <p class="snug">more</p>
            <p class="snug">more</p>
            <p>more</p>
            <table class="spaced-above">
                <tr class="xspaced-above">
                    <td class="label-left">Author:</td>
                    <td >ABC</td>
                </tr>
            </table>

        </div>

        <div class="rhs-1 border">
            <div class="content">
                ABC
            </div>
        </div>

        <div class="rhs-2 border">
            <div class="content">
                ABC
            </div>
        </div>

        <div class="rhs-3 border">
            <div class="content">
                ABC
            </div>
        </div>





    </div>

</div>

</html>