html {
    font-size:9pt;
    font-family: 'Noto Sans', serif;
    line-height: 1.3;
}

@page {
    size: A4;
    margin: 0.25in;
}

.pickslip {
    page-break-before: always;
}

.patron-copy {
    position: fixed;
    right: 0%;
    left: 0%;
    bottom: 1%;  /* border is chopped at 0! */
    height: 47%; /* space around perforation */
}

.shelf-copy {
    position: fixed;
    right: 0%;
    left: 0%;
    height: 47%;
    top: 1%;  /* mirror the bottom of patron-copy */
}

.content {
    margin: 1em;
}

.lhs {
    position: absolute;
    top: 0%;
    height: 100%;
    width: 35%;
}

.rhs-1 {
    background-color: white;
    position: absolute;
    right: 0%;
    left: 35%;
    height: 30%;
    z-index: 10;
}

.rhs-2 {
    background-color: white;
    position: absolute;
    right: 0%;
    left: 35%;
    top: 20%;
    height: 40%;
    z-index: 10;
}

.rhs-3 {
    background-color: white;
    position: absolute;
    right: 0%;
    left: 35%;
    top: 60%;
    height: 40%;
    z-index: 15;
}

.w100 {
    width: 100%;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w30 {
    width: 30%;
}

.h30 {
    height: 30%;
}

.fixed {
    table-layout: fixed;
}

.border {
    border: 0.5pt solid;
}

.font-large {
    font-size: 15pt;
}

.align-top {
    vertical-align: top;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.barcode {
    padding: 1em 0 2em 0;
    display:inline-block;
    text-align: center;
}

.label {
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    font-weight: 500;
    width: 10%;
}

.label-left {
    padding-left: 0;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    font-weight: 500;
    width: 10%;
}

table {
    border-collapse: collapse;
}

p.spaced-above {
    margin-top: 6pt;
}

p.spaced-above-xl {
    margin-top: 24pt;
}

p.spaced-below-xl {
    margin-bottom: 24pt;
}

tr.spaced-below>td {
    margin-bottom: 6pt;
}

tr.spaced-above>td {
    margin-top: 6pt;
}

.request-info {
    padding: 3pt 0;
}

.shelf-copy .patron-info {
    padding: 0 0 24pt 0;
}

.shelf-copy .access-info {
    padding: 6pt 0;
}

.patron-copy .patron-info {
    padding: 0 0 6pt 0;
}

.patron-copy .access-info {
    padding: 6pt 0;
}

.patron-copy .ms-info {
    padding: 6pt 0;
}

.serial-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.heavy-font {
    font-weight: 500;
}

.light-font {
    font-weight: 100;
}

.item-info {
    margin-top: 2rem;
    border: 1px solid;
    padding: 3pt;
}

.barcode128 {
    padding: 0;
    margin: 0;
    border:0;
}

.barcodetext {
    margin-top: 0;
    font-size: 8pt;
    font-family: monospace, monospace;
}

p {
    margin: 2pt 0;
}

p.snug {
    margin-top: 0;
    margin-bottom: 0;
}
