 html {
   font-size:12px;
 }

@page {
    size: A4;
    margin: 0.5in;
}

.pickslip {
    page-break-before: always;
}

.patron-copy {
    position: fixed;
    width: 100%;
    top: 55%;
}

.shelf-copy {
    position: fixed;
    width: 100%;
    top: 0%;
}

.w100 {
    width: 100%;
}

.w50 {
    width: 50%;
}

 .w70 {
     width: 70%;
 }

 .w30 {
     width: 30%;
 }

h1 {
    font-size: large;
}

.align-top {
    vertical-align: top;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.label {
    white-space: nowrap;
    text-align: right;
    vertical-align: top;
    font-weight: 100;
    width: 10%;
}

.label-left {
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    font-weight: 100;
    width: 10%;
}

p.spaced-above {
    padding-top: 1em;
}

tr.spaced-below>td {
    padding-bottom: 1em;
}

tr.spaced-above>td {
    padding-top: 1em;
}

.request-info {
    padding: 0.5em 0;
}

.patron-info {
    padding: 0.25em 0;
}

.serial-info {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em 0;
}

.heavy-font {
    font-weight: 600;
}

.light-font {
    font-weight: 100;
}

.item-info {
    margin-top: 2em;
    border: 1px solid;
    padding: 0.25em;
}

.barcode128 {
    padding: 0;
    margin: 0;
    border:0;
}

.barcodetext {
    font-size: 0.8em;
    font-family: monospace, monospace;
}

html {
    font-family: sans-serif;
}

p {
    margin: 0;
}
